@charset "UTF-8";

/* font :: Nanum Square */
@font-face {
    font-family: 'Nanum Square';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/NanumSquare/NanumSquareR.eot");
    src: local("Nanum Square Regular"),
    local("NanumSquareR"),
    url("../fonts/NanumSquare/NanumSquareR.eot?#iefix") format("embedded-opentype"),
    url("../fonts/NanumSquare/NanumSquareR.woff") format("woff"),
    url("../fonts/NanumSquare/NanumSquareR.ttf") format("truetype");
}
/* font :: noto-sans-kr-regular - korean */
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/noto-sans-kr-v13-korean-regular.eot'); /* IE9 Compat Modes */
    src: local('noto-sans-kr-v13-korean-regular'),
    url('../fonts/noto-sans-kr-v13-korean-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/noto-sans-kr-v13-korean-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/noto-sans-kr-v13-korean-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/noto-sans-kr-v13-korean-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/noto-sans-kr-v13-korean-regular.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* font :: lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/lato-v17-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('lato-v17-latin-regula'),
    url('../fonts/lato-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/lato-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/lato-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/lato-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/lato-v17-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    /*font-size: 100%;*/
    /*font: inherit;*/
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* LHA - reset css 추가
   ========================================================================== */
*, div, span, article, section, header, footer, aside, p, ul, li, fieldset, legend, label, a, nav, form, :after, :before {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    -webkit-text-size-adjust: none;
    font-size: 100%;
}

/* 폰트 기본설정 */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, table, th, td, form, fieldset, legend, textarea, input, select, textarea, button, figure, figcaption {
    margin: 0;
    padding: 0;
    font-family: 'Nanum Square','Nanum Gothic','맑은 고딕','MalgunGothic','Dotum','돋움','AppleSDGothic',sans-serif;
    font-size: 12px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

/* 폰트 스타일 초기화 */
em, address {
    font-style: normal;
}

/* a 링크 초기화 */
a {
    color: #222;
    text-decoration: none;
    cursor: pointer;
}

/* 테두리 초기화 */
img, fieldset {
    border: 0 none;
}

/* 버튼 초기화 */
button {
    border: 0;
    cursor: pointer;
}

/* clearfix */
.clearfix {
    *zoom: 1;
}

.clearfix:before, .clearfix:after {
    display: block;
    content: '';
    line-height: 0;
}

.clearfix:after {
    clear: both;
}
