@charset "utf-8";
/* 공통 */
.none {display: none;}

/* 전체 레이아웃 */
#wrap{ overflow:hidden; position:relative; min-width: 360px; max-width: 1920px; margin:0 auto;}

/* 헤더 */
#header_wrap {position: relative; border-bottom: 1px solid #ffff; z-index: 10;}
#header {display: flex; max-width: 1170px; height: 90px; margin: 0 auto;}
#header .logo a{display: block; padding-top: 12px;}
#header .logo img {width: 185px; height: 49px;}
#gnb {display: flex; flex:1;}
#gnb ul li {padding: 0px 2px; flex: 0 0 auto;}
#gnb ul li a {display: block; height: 100%; color: #ffffff;}

#gnb .gnb_1depth {display: flex; flex:1; justify-content: flex-end;}
#gnb .gnb_1depth li {font-size: 15px;}
#gnb .gnb_1depth>li>a {padding: 52px 15px 0px; text-align: center;}
#gnb .gnb_1depth>li>a:hover {background-color: #87949D; font-weight: 600;}

#gnb .gnb_2depth {padding: 10px; background-color: rgba(103, 115, 124, 0.5);}
#gnb .gnb_2depth>li>a{padding: 10px; font-size: 14px;}
#gnb .gnb_2depth>li>a::before {content: "\00B7"; padding-right: 6px;}
#gnb .gnb_2depth>li a:hover {color: #E9D371;}

/* 메인 비주얼 화면 */
#visual {position: relative; margin-top: -90px;}
#visual button {position: absolute; width: 51px; height: 94px; top: 50%; z-index: 2; background-color: rgba(255,255,255,0); text-indent: -9999px; cursor: pointer;}
#visual .btn_prev {left: 256px; background: url("../img/slide_left.png") no-repeat;}
#visual .btn_next {right: 256px; background: url("../img/slide_right.png") no-repeat;}

/* container - 공통*/
#container {margin-top: 68px;}
#container section {text-align: center;}
#container .cs_center, .gallery_wrap, .story_wrap {margin: 0 auto; max-width: 1170px;}

/* line - CS Center */
#container .cs_center .line {display: inline-block; width: 654px; border-top: 1px solid #E1E1E1; text-indent: 99999px;}
#container .cs_center .round {padding: 1px 11px; border: 1px solid #FDBA68; border-radius: 25px; background-color: #FDBA68; color: #ffffff;}
#container .gallery_wrap>.title, .story_wrap>.title {margin: 65px 0 10px; color: #585858; font-size: 23px;}
#container .gallery_wrap>.sub_title, .story_wrap>.sub_title {margin-bottom: 32px; color: #d0d0d0;}

/* gallery */
.gallery_wrap ul {display: flex; justify-content: space-between;}
.gallery_wrap .btn_gallery {width: 86px; height: 86px; padding-top: 8px; border: 1px solid #cdcdcd; border-radius: 50%;  background-color: #cdcdcd; color: #fff; line-height: 16px;}
/* story */
.story_wrap ul {display: flex; justify-content: space-between;}
.story_wrap ul li {width: 572px; height: 250px; border: 1px solid #ddd; }
.story_wrap ul li a {display: flex; justify-content: space-between;}

/* recommend */
.recommend {background: url("../img/recommend_bg_01.jpg")no-repeat;}
.recommend .top {display: flex; justify-content: space-around; flex-wrap: wrap; max-width: 1170px; min-height: 740px; margin: 0 auto;}
.recommend .banner {position: relative;}
.recommend .banner div {text-align: left;}
.recommend .banner .img_wrap {display: flex; justify-content: space-between; flex-wrap: wrap; max-width: 996px;  height: 459px; align-content: space-between;}
.recommend .banner .img_wrap li:nth-child(2) {position: relative;}
.recommend .banner .img_wrap li>ul {position: absolute; top:0; color: #ffffff;}
.recommend .banner .indi {position: absolute; top: 46%; right: -32px;}

.recommend .bottom {display: flex; flex-direction: column; justify-content: center; max-width: 1210px; min-height: 467px; margin: 0 auto; background: url(../img/recommend_bg_02.png) no-repeat; background-position: right bottom; text-align: left;}
.recommend .bottom .btn_consulting {width: 164px; height: 28px; background-color: #EA5021;}

/* why_steel */
.values {display: flex; min-height: 624px;}
.values .card {display: flex; position:relative;justify-content: center; align-items: center; width: 25%; text-align: left;}
.values .card:before { content: ""; position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; opacity: 0.4; background-color: #ffffff;}
.values .card_01 {background: url(../img/why_steel_h01.png) no-repeat;}
.values .card_02 {background: url(../img/why_steel_h02.png) no-repeat;}
.values .card_03 {background: url(../img/why_steel_h03.png) no-repeat;}
.values .card_04 {background: url(../img/why_steel_h04.png) no-repeat;}
.values .card .txt_wrap {position: relative; font-size: 14px; font-weight: 600;}
.values .hover_wrap {display: none;}

/* footer */
#footer .footer_top {display: flex; justify-content: space-between; align-items: center; max-width: 1170px; min-height: 54px;  margin: 0 auto; padding-top: 5px;}
#footer .main_link a {font-size: 10px; font-weight: 600; color: #333;}
#footer .main_link a:first-child:after {content: " "; padding-right: 19px; border-right: 1px solid #d9d9d9;}
#footer .main_link a:last-child {padding-left: 19px;}
#footer .serch_naver {position: relative;}
#footer .serch_naver .serch_text {position: absolute; top: 7px; left: 103px; font-size: 11px; font-weight: 600; letter-spacing: -0.5px; color: #666666;}

#footer .footer_bottom {border-top: 1px solid #e6e6e6; background-color: #f5f5f5; padding-bottom: 68px;}
#footer .footer_detail {display: flex; justify-content: space-between; align-items: flex-end; max-width: 1170px; min-height: 162px; margin: 0 auto;}

#footer .company_info dl dt, dd {display: inline-block;}
#footer .copyright {text-align: right;}

/* 사이드 nav */
#aside {display: flex; flex-direction: column; position: fixed; width: 70px; height: 100%; top: 0; right:0; padding-top: 27px; background-color: #545454; text-align: center; z-index: 9999;}

@media screen and (min-width: 1920px) {
    #aside {left: 50%; margin-left: 891px;}
}
#aside .logo_call li:last-child {margin: 15px 0 35px}
#aside .quick_btn li { padding: 16px 0px; border-bottom: 1px solid #434343; box-shadow: 0px 1px #767676;}
#aside .sns {margin-top: 211px;}
#aside .sns li {margin-bottom: 11px;}
#aside .sns li a {display: inline-block; width: 50px; height: 50px; background-color: rgb(101, 101, 102); border-radius: 50%; padding-top: 16px;}


/*@media screen and (max-width: 767px) {*/
/*    body {color: red;}*/
/*    #header {flex-direction: column;}*/
/*    #gnb .gnb_1depth {flex-direction: column;}*/
/*}*/

