@charset "UTF-8";
/* 공통 */
#wrap .container_box  {
    max-width: 1170px;
   margin: 0 auto;
}

#container .round {
    padding: 1px;
    border: 1px solid #FDBA68;
    border-radius: 25px;
    background-color: #FDBA68;
    text-align: center;
    color: #ffffff;
}

.hide {
    display: none;
}

/* 전체 레이아웃 */
#wrap {
    overflow: hidden;
    position: relative;
    min-width: 360px;
    max-width: 1920px;
    margin: 0 auto;
}

/* 헤더 */
#header_wrap {
    position: relative;
    border-bottom: 1px solid #ffffff;
    z-index: 10;
}

#header {
    display: flex;
    height: 90px;
}

#header .logo a {
    display: block;
    padding-top: 12px;
}

#header .logo img {
    width: 185px;
    height: 49px;
}

#gnb {
    display: flex;
    flex: 1;
}

#gnb ul li {
    padding: 0px 2px;
    flex: 0 0 auto;
}

#gnb ul li a {
    display: block;
    height: 100%;
    color: #ffffff;
}

#gnb .gnb_1depth {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

#gnb .gnb_1depth li {
    font-size: 17px;
}

#gnb .gnb_1depth > li > a {
    padding: 52px 15px 0px;
    text-align: center;
}

#gnb .gnb_1depth > li > a:hover {
    background-color: #87949D;
    font-weight: 600;
}

#gnb .gnb_2depth {
    padding: 10px 5px 10px 0px;
    background-color: rgba(103, 115, 124, 0.5);
}

#gnb .gnb_2depth li {
    font-size: 15px;
}

#gnb .gnb_2depth > li > a {
    padding: 10px;
}

#gnb .gnb_2depth > li > a::before {
    content: "\00B7";
    padding-right: 6px;
}

#gnb .gnb_2depth > li a:hover {
    color: #E9D371;
}

/* 메인 비주얼 화면 */
#visual {
    position: relative;
    margin-top: -90px;
}

#visual button {
    position: absolute;
    width: 51px;
    height: 94px;
    top: 50%;
    z-index: 2;
    text-indent: -9999px;
}

#visual .btn_prev {
    left: 14%;
    background: url("../img/slide_left.png") no-repeat;
}

#visual .btn_next {
    right: 14%;
    background: url("../img/slide_right.png") no-repeat;
}

/* container - 공통*/
#container {
    margin-top: 68px;
}

#container section {
    text-align: center;
}

#container .gallery_wrap > .title,
.story_wrap > .title {
    margin-bottom: 10px;
    color: #585858;
    font-size: 23px;
}

#container .gallery_wrap > .sub_title,
.story_wrap > .sub_title {
    margin-bottom: 32px;
    color: #d0d0d0;
    font-family: 'Lato', sans-serif;
}

/* line - CS Center */
#container .cs_center {
    position: relative;
    text-align: right;
}

#container .cs_center .line {
    position: absolute;
    width: 648px;
    top: 7px;
    left: 0;
    border-top: 1px solid #E1E1E1;
    text-indent: 99999px;
}

#container .cs_center .round {
    width: 130px;
    padding: 2px 11px;
    font-size: 13px;
}

#container .cs_center .call {
    padding-left: 5px;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    color: #3e3a38;
}

#container .cs_center .time {
    padding-left: 5px;
    font-size: 12px;
    font-weight: 300;
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: 0.3px;
    color: #999999;
}

/* gallery */
.gallery_wrap {
    position: relative;
    margin: 30px 0 95px;
    padding: 35px 0 65px;
    background: #fafafa;
}

.gallery_wrap ul {
    display: flex;
    justify-content: space-between;
}

.gallery_wrap ul .gallery_card {
    position: relative;
}

.gallery_wrap ul .gallery_card span {
    display: none;
}

.gallery_wrap ul .gallery_card:hover span {
    display: block;
    position: absolute;
    top: 138px;
    left: 83px;
    z-index: 20;
    font-size: 16px;
    letter-spacing: -0.5px;
    color: #fdb968;
}
.gallery_wrap .gallery_card .img {
    transition: 1s;
}
.gallery_wrap .gallery_card:hover .img {
    filter: brightness(0.6);
}

.gallery_wrap .gallery_card:hover .info .title {
    color: #ff8505;
}

.gallery_wrap .info {
    text-align: left;
}

.gallery_wrap .info .title {
    padding: 30px 0 47px;
    font-size: 17px;
}

.gallery_wrap .info .title:before {
    content: "";
    display: block;
    width: 16px;
    margin-bottom: 8px;
    border-bottom: 2px solid #3a3a3a;
}

.gallery_wrap .info .date {
    font-size: 18px;
    font-weight: 600;
    color: #3d3d3d;
}

.gallery_wrap .info .text {
    padding: 13px 0;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 14px;
    color: #999999;
}

.gallery_wrap .info .round {
    width: 75px;
    font-size: 11px;
}

.gallery_wrap .btn_gallery {
    position: absolute;
    width: 86px;
    height: 86px;
    bottom: -41px;
    left: 50%;
    margin-left: -44px;
    padding-top: 8px;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    background-color: #cdcdcd;
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    line-height: 16px;
}

/* story */
.story_wrap {
    margin-bottom: 68px;
}

.story_wrap ul {
    display: flex;
    justify-content: space-between;
}

.story_wrap > ul {
    margin-bottom: 19px;
}

.story_wrap > ul:last-child {
    margin-bottom: 0;
}

.story_wrap ul li {
    width: 576px;
    height: 250px;
    border: 1px solid #dddddd;
}

.story_wrap ul li a {
    display: flex;
    justify-content: space-between;
}

.story_wrap .story_card .info {
    position: relative;
    padding: 17px 0 0 10px;
    text-align: left;
}

.story_wrap .story_card .info div {
   font-family: 'Noto Sans KR', sans-serif;
}

.story_wrap .story_card .info .circle_item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 63px;
    height: 63px;
    border: 1px solid #434444;
    border-radius: 50%;
    background-color: #434444;
    font-family: 'Nanum Square', sans-serif;
    color: #f4c720;
}

.story_wrap .story_card .info .title {
    margin: 19px 0 14px;
    letter-spacing: -1px;
    font-size: 16px;
    font-weight: 600;
    color: #333333;
}

.story_wrap .story_card .info .text {
    margin-bottom: 54px;
    line-height: 17px;
    color: #999999;
}

.story_wrap .story_card .info .sub_text {
    position: absolute;
    left: 11px;
    bottom: 25px;
    letter-spacing: -0.5px;
    line-height: 17px;
    color: #aaaaaa;
}

.story_wrap .story_card .info .sub_text span {
    font-weight: 600;
    color: #666666;
}

.story_wrap .story_card .img {
    position: relative;
}

.story_wrap .story_card .img:before {
    content: "";
    position: absolute;
    width: 79px;
    height: 27px;
    top: 18px;
    left: -8px;
    background: url("../img/story_date_label.png");
}

.story_wrap .story_card .img span {
    position: absolute;
    top: 22px;
    left: 0;
    font-size: 11px;
    color: #888888;
}

/* recommend */
.recommend {
    margin-top: 70px;
    background: url("../img/recommend_bg_01.jpg") no-repeat;
}

.recommend .top {
    display: flex;
    position: relative;
    justify-content: space-around;
    flex-wrap: wrap;
    min-height: 740px;
}

.recommend .top h2 {
    position: absolute;
    top: 0;
    left: -10px;
    padding-top: 37px;
}

/* recommend-공지사항 */
.recommend .top .notice {
    position: absolute;
    top: 0;
    right: 130px;
    padding-top: 76px;
    max-width: 409px;
    overflow: hidden;
}

.recommend .top .notice dl dt {
    border-bottom: 1px solid #969696;
}

.recommend .top .notice dl dt .more {
    display: flex;
    position: relative;
    justify-content: space-between;
    padding-bottom: 7px;
    font-size: 15px;
    font-weight: 600;
}

.recommend .top .notice dl dt .more:before {
    content: "";
    display: block;
    position: absolute;
    top: 21px;
    width: 73px;
    border-bottom: 3px solid #000000;
}

.recommend .top .notice dl dt .more span {
    font-size: 11px;
}

.recommend .top .notice ul li {
    border-top: 1px solid #dcdcdc;
}

.recommend .top .notice ul li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Dotum','돋움';
    color: #999999;
}
.recommend .top .notice ul li a:hover{
    color: #3e3a38;
}

.recommend .top .notice ul li span {
    width: 313px;
    padding: 7px 0px;
    overflow: hidden;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.recommend .top .notice ul li span:last-child {
    padding-left: 41px;
}

/* recommend-이미지 배너 */
.recommend .banner {
    position: absolute;
    bottom: -51px;
    left: 66px;
}

.recommend .banner div {
    text-align: left;
}

.recommend .banner .title {
    display: inline-block;
    padding-bottom: 12px;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    color: #9c9c9c;
    letter-spacing: -0.7px;
}

.recommend .banner .img_wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 996px;
    height: 459px;
    align-content: space-between;
}

.recommend .banner .img_wrap li:nth-child(2) {
    position: relative;
}

/* recommend-배너 info */
.recommend .banner .img_wrap .info {
    position: absolute;
    top: 41px;
    left: 30px;
    color: #ffffff;
}

.recommend .banner .img_wrap .info li {
    padding-left: 10px;
    line-height: 17px;
    color: #dad8d2;
    letter-spacing: -0.5px;
    list-style-position: outside;
    list-style-type: "-";
}

.recommend .banner .img_wrap .info li:first-child {
    padding-bottom: 19px;
    font-size: 24px;
    font-weight: 600;
    list-style: none;
}

/* recommend- 배너 로테이팅 아이콘 */
.recommend .banner .indi {
    position: absolute;
    top: 43%;
    right: -32px;
}

.recommend .banner .indi .icon li {
    margin-bottom: 10px;
}

.recommend .banner .indi .icon li:last-child {
    margin-bottom: 0px;
}

.recommend .bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1210px;
    height: 467px;
    margin: 0 auto;
    background: url(../img/recommend_bg_02.png) no-repeat;
    background-position: right bottom;
    text-align: left;
}

.recommend .bottom .title,
.recommend .bottom .sub_title,
.recommend .bottom .btn_consulting {
    font-family: 'Noto Sans KR', sans-serif;
}

.recommend .bottom .title {
    color: #343434;
    font-size: 36px;
    letter-spacing: -1px;
}

.recommend .bottom .sub_title {
    padding: 10px 0 32px;
    font-size: 15px;
    color: #333333;
    letter-spacing: -0.3px;
}

.recommend .bottom .btn_consulting {
    width: 164px;
    height: 28px;
    background-color: #EA5021;
    font-size: 13px;
    letter-spacing: -0.3px;
    color: #ffffff;
}

.recommend .bottom .btn_consulting span {
    padding-left: 35px;
}

/* why_steel */
.values {
    display: flex;
    height: 624px;
    border-bottom: 3px solid #5c5c5c;
}

.values .card {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: left;
}

.values .card:hover {
    align-items: flex-end;
}

.values .card:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 0.4;
    background-color: #ffffff;
    transition: 1s;
}

.values .card:hover:before {
    opacity: 0;
}

.values .card_01 {
    background: url(../img/why_steel_h01.png) no-repeat;
}

.values .card_02 {
    background: url(../img/why_steel_h02.png) no-repeat;
}

.values .card_03 {
    background: url(../img/why_steel_h03.png) no-repeat;
}

.values .card_04 {
    background: url(../img/why_steel_h04.png) no-repeat;
}

.values .card .txt_wrap {
    position: relative;
}

.values .card:hover .txt_wrap {
    display: none;
}

.values .card .txt_wrap .title,
.values .card .txt_wrap .number{
    font-family: 'Lato', sans-serif;
}

.values .card .txt_wrap .title {
    font-size: 24px;
}

.values .card .txt_wrap .number {
    font-size: 48px;
}

.values .hover_wrap {
    display: none;
    width: 100%;
    transition: 1s;
}

.values .card:hover .hover_wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
}

.values .hover_wrap .number {
    margin-bottom: 140px;
    font-size: 60px;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
}

.values .hover_wrap div {
    padding-top: 76px;
    width: 100%;
    height: 264px;
    background-color: rgba(250, 187, 112, 0.9);
    text-align: center;
}

.values .hover_wrap .title {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -1px;
    color: #ffffff;
}

.values .hover_wrap .sub_title {
    font-size: 14px;
    font-weight: 600;
    padding: 19px 0 29px;
    letter-spacing: -0.7px;
}

.values .hover_wrap .txt {
    line-height: 14px;
    letter-spacing: -0.5px;
    color: #666666;
}

/* footer */
#footer .footer_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 54px;
    padding-top: 5px;
}

#footer .main_link a {
    font-size: 10px;
    font-weight: 600;
    color: #333333;
}

#footer .main_link a:first-child:after {
    content: " ";
    padding-right: 19px;
    border-right: 1px solid #d9d9d9;
}

#footer .main_link a:last-child {
    padding-left: 19px;
}

#footer .serch_naver {
    position: relative;
}

#footer .serch_naver .serch_text {
    position: absolute;
    top: 7px;
    left: 103px;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: -0.5px;
    color: #666666;
}

/* footer - bottom */
#footer .footer_bottom {
    border-top: 1px solid #e6e6e6;
    background-color: #f5f5f5;
    padding-bottom: 68px;
}

#footer .footer_detail {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 162px;
    color: #3e3a38;
}

#footer .footer_detail .title {
    font-weight: 600;
    letter-spacing: 0.2px;
    font-family: 'Lato', sans-serif;
}

#footer .footer_detail .customer_center a {
    display: inline-block;
    margin: 23px 0 24px;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Noto Sans KR', sans-serif;
    color: #3e3a38;
}

#footer .footer_detail .customer_center img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    vertical-align: bottom;
}

#footer .footer_detail .customer_center p {
    font-size: 11px;
    font-weight: 300;
    line-height: 14px;
    letter-spacing: 0.5px;
    font-family: 'Lato', sans-serif;
    color: #999999;
}

#footer .company_info dl dt, dd {
    display: inline-block;
}

#footer .company_info dl {
    margin-top: 23px;
    font-size: 11px;
    font-family: inherit;
    line-height: 16px;
    letter-spacing: 0.5px;
}

#footer .company_info dl dt {
    margin-right: 7px;
    color: #999999;
}

#footer .company_info dl dd {
    margin-right: 10px;
    font-weight: 600;
}

#footer .copyright {
    text-align: right;
    font-size: 11px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.2px;
}

#footer .copyright a {
    display: inline-block;
    margin-top: 6px;
}

/* 사이드 nav */
#aside {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 70px;
    height: 100%;
    top: 0;
    right: 0;
    padding-top: 27px;
    background-color: #545454;
    text-align: center;
    z-index: 9999;
}

#aside .logo_call li:last-child {
    margin: 15px 0 35px;
}

#aside .quick_btn li {
    padding: 16px 0px;
    border-bottom: 1px solid #434343;
    box-shadow: 0px 1px #767676;
}

#aside .sns {
    margin-top: 211px;
}

#aside .sns li {
    margin-bottom: 11px;
}

#aside .sns li a {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #656566;
    border-radius: 50%;
    padding-top: 16px;
}

@media screen and (min-width: 2077px) {
    #aside {
        left: 50%;
        margin-left: 960px;
    }
}
