@charset "UTF-8";
/* 공통 */
#wrap .container_box  {
    max-width: 1000px;
    margin: 0 auto;
    /*background-color: #EA5021;*/
}

#container .round {
    padding: 1px;
    border: 1px solid #FDBA68;
    border-radius: 25px;
    background-color: #FDBA68;
    text-align: center;
    color: #ffffff;
}

.hide {
    display: none!important;
}

.mo_show {
    display: none;
}

/* 전체 레이아웃 */
#wrap {
    overflow: hidden;
    position: relative;
    min-width: 360px;
    max-width: 1920px;
    margin: 0 auto;
}

/* 헤더 */
#header_wrap {
    position: relative;
    border-bottom: 1px solid #ffffff;
    z-index: 10;
}

#header {
    display: flex;
    height: 90px;
}

#header .logo a {
    display: block;
    width: 160px;
    padding-top: 14px;
}

#header .logo img {
    width: 100%;
}

#header .btn_toogle {
    display: none;
    position: absolute;
    top: 32px;
    right: 5%;
    color: #ffffff;
    font-size: 25px;
}

#gnb {
    display: flex;
    flex: 1;
}

#gnb ul li {
    padding: 0px 2px;
    flex: 0 0 auto;
}

#gnb ul li a {
    display: block;
    height: 100%;
    color: #ffffff;
}

#gnb .gnb_1depth {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

#gnb .gnb_1depth li {
    font-size: 1rem;
}

#gnb .gnb_1depth > li > a {
    padding: 52px 15px 0px;
    text-align: center;
}

#gnb .gnb_1depth > li:last-child > a {
    padding: 53px 20px 0px;
}

#gnb .gnb_1depth > li > a:hover {
    background-color: #87949D;
}

#gnb .gnb_2depth {
    display: none;
    padding: 10px 5px 10px 0px;
    background-color: rgba(103, 115, 124, 0.5);
    border-top : 1px solid #E9D371;
}

.active {
    display: block!important;
}

.active_02 {
    background-color: #87949D;
}

#gnb .gnb_2depth li {
    font-size: 0.9rem;
}

#gnb .gnb_2depth > li > a {
    padding: 10px;
}

#gnb .gnb_2depth > li > a::before {
    content: "\00B7";
    padding-right: 6px;
}

#gnb .gnb_2depth > li a:hover {
    color: #E9D371;
}

/* 메인 비주얼 화면 */
#visual {
    position: relative;
    margin-top: -90px;
}
#visual .img_wrap ul li img:first-child{
    display: block;
}
#visual .img_wrap ul li img:last-child{
    display: none;
}

#visual button {
    position: absolute;
    width: 51px;
    height: 94px;
    top: 50%;
    z-index: 2;
    text-indent: -9999px;
}

#visual .btn_prev {
    left: 14%;
    background: url("../img/slide_left.png") no-repeat;
}

#visual .btn_next {
    right: 14%;
    background: url("../img/slide_right.png") no-repeat;
}

/* container - 공통*/
#container {
    margin-top: 68px;
}

#container section {
    text-align: center;
}

#container .gallery_wrap > .title,
.story_wrap > .title {
    margin-bottom: 10px;
    color: #585858;
    font-size: 23px;
}

#container .gallery_wrap > .sub_title,
.story_wrap > .sub_title {
    margin-bottom: 32px;
    color: #d0d0d0;
    font-family: 'Lato', sans-serif;
}

/* line - CS Center */
#container .cs_center {
    position: relative;
    text-align: right;
}

#container .cs_center .line {
    position: absolute;
    width: 470px;
    top: 7px;
    left: 0;
    border-top: 1px solid #E1E1E1;
    text-indent: 99999px;
}

#container .cs_center .round {
    width: 130px;
    padding: 2px 11px;
    font-size: 13px;
}

#container .cs_center .call {
    padding-left: 5px;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    color: #3e3a38;
}

#container .cs_center .time {
    padding-left: 5px;
    font-size: 12px;
    font-weight: 300;
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: 0.3px;
    color: #999999;
}

/* gallery */
.gallery_wrap {
    position: relative;
    margin: 30px 0 95px;
    padding: 35px 0 65px;
    background: #fafafa;
}

.gallery_wrap ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px!important;
}

.gallery_wrap ul .gallery_card {
    position: relative;
    width: 23%;
}
.gallery_wrap ul .gallery_card span {
    display: none;
}
.gallery_wrap ul .gallery_card:hover span {
    display: block;
    position: absolute;
    top: 28%;
    left: 27%;
    z-index: 20;
    font-size: 16px;
    letter-spacing: -0.5px;
    color: #fdb968;
}
.gallery_wrap .gallery_card .img {
    transition: 1s;
}
.gallery_wrap .gallery_card .img img {
    width: 100%;
}
.gallery_wrap .gallery_card:hover .img {
    filter: brightness(0.6);
}
.gallery_wrap .gallery_card:hover .info .title {
    color: #ff8505;
}
.gallery_wrap .info {
    text-align: left;
}
.gallery_wrap .info .title {
    padding: 30px 0 47px;
    font-size: 1.1rem;
}
.gallery_wrap .info .title:before {
    content: "";
    display: block;
    width: 16px;
    margin-bottom: 8px;
    border-bottom: 2px solid #3a3a3a;
}

.gallery_wrap .info .date {
    font-size: 1.12rem;
    font-weight: 600;
    color: #3d3d3d;
}

.gallery_wrap .info .text {
    padding: 13px 0;
    font-size: 0.75rem;
    letter-spacing: 1px;
    line-height: 14px;
    color: #999999;
}

.gallery_wrap .info .round {
    width: 75px;
    font-size: 11px;
}

.gallery_wrap .btn_gallery {
    position: absolute;
    width: 86px;
    height: 86px;
    bottom: -41px;
    left: 50%;
    margin-left: -44px;
    padding-top: 8px;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    background-color: #cdcdcd;
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    line-height: 16px;
}

/* story */
.story_wrap {
    margin-bottom: 68px;
}

.story_wrap ul {
    display: flex;
    justify-content: space-between;
}

.story_wrap > ul {
    margin: 20px 10px;
}

.story_wrap > ul:last-child {
    margin-bottom: 0;
}

.story_wrap ul li {
    overflow: hidden;
    width: 49%;
    max-height: 218px;
    border: 1px solid #dddddd;
}

.story_wrap ul li a {
    display: flex;
    justify-content: space-between;
}

.story_wrap .story_card .info {
    position: relative;
    width: 270px;
    padding: 10px 0 0 10px;
    text-align: left;
}

.story_wrap .story_card .info div {
    font-family: 'Noto Sans KR', sans-serif;
}

.story_wrap .story_card .info .circle_item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 63px;
    height: 63px;
    border: 1px solid #434444;
    border-radius: 50%;
    background-color: #434444;
    font-family: 'Nanum Square', sans-serif;
    color: #f4c720;
}

.story_wrap .story_card .info .title {
    margin: 19px 0 14px;
    letter-spacing: -1px;
    font-size: 0.9rem;
    font-weight: 600;
    color: #333333;
}

.story_wrap .story_card .info .text {
    margin-bottom: 54px;
    line-height: 17px;
    color: #999999;
    font-size: 0.75rem;
}

.story_wrap .story_card .info .sub_text {
    position: absolute;
    left: 11px;
    bottom: 25px;
    letter-spacing: -0.5px;
    line-height: 17px;
    color: #aaaaaa;
    font-size: 0.7rem;
}

.story_wrap .story_card .info .sub_text span {
    font-weight: 600;
    color: #666666;
}

.story_wrap .story_card .img {
    position: relative;
    max-width: 255px;
}

.story_wrap .story_card .img img {
    width: 100%;
    height: 100%;
}

.story_wrap .story_card .img:before {
    content: "";
    position: absolute;
    width: 79px;
    height: 27px;
    top: 18px;
    left: -8px;
    background: url("../img/story_date_label.png");
}

.story_wrap .story_card .img span {
    position: absolute;
    top: 22px;
    left: 0;
    font-size: 11px;
    color: #888888;
}

/* recommend */
.recommend {
    margin-top: 70px;
    background: url("../img/recommend_bg_01.jpg") no-repeat;
}

.recommend .top {
    display: flex;
    position: relative;
    justify-content: space-around;
    flex-wrap: wrap;
    min-height: 740px;
}

.recommend .top h2 {
    position: absolute;
    width: 460px;
    top: 0;
    left: 0;
    padding-top: 37px;
}

.recommend .top h2 img {
    width: 100%;
}

/* recommend-공지사항 */
.recommend .top .notice {
    position: absolute;
    top: 0;
    right: 15px;
    padding-top: 76px;
    max-width: 409px;
    overflow: hidden;
}

.recommend .top .notice dl dt {
    border-bottom: 1px solid #969696;
}

.recommend .top .notice dl dt .more {
    display: flex;
    position: relative;
    justify-content: space-between;
    padding-bottom: 7px;
    font-size: 15px;
    font-weight: 600;
}

.recommend .top .notice dl dt .more:before {
    content: "";
    display: block;
    position: absolute;
    top: 21px;
    width: 73px;
    border-bottom: 3px solid #000000;
}

.recommend .top .notice dl dt .more span {
    font-size: 11px;
}

.recommend .top .notice ul li {
    border-top: 1px solid #dcdcdc;
}

.recommend .top .notice ul li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Dotum','돋움';
    color: #999999;
}
.recommend .top .notice ul li a:hover{
    color: #3e3a38;
}

.recommend .top .notice ul li span {
    width: 313px;
    padding: 7px 0px;
    overflow: hidden;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.recommend .top .notice ul li span:last-child {
    padding-left: 41px;
}

/* recommend-이미지 배너 */
.recommend .banner {
    position: absolute;
    bottom: -50px;
    left: 66px;
}

.recommend .banner div {
    text-align: left;
}

.recommend .banner .title {
    display: inline-block;
    padding-bottom: 12px;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    color: #9c9c9c;
    letter-spacing: -0.7px;
}

.recommend .banner .img_wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 850px;
    align-content: space-between;
}

.recommend .banner .img_wrap>li {
    width: 518px;
}

.recommend .banner .img_wrap>li:nth-child(2) {
    position: relative;
    width: 320px;
    text-align: left;
}

.recommend .banner .img_wrap>li:nth-child(3){
    width: 320px;
}
.recommend .banner .img_wrap li img {
    width: 100%;
    border: 1px solid #dddddd;
}

/* recommend-배너 info */
.recommend .banner .img_wrap .info {
    position: absolute;
    top: 18%;
    left: 7%;
    color: #ffffff;
}

.recommend .banner .img_wrap .info li {
    padding-left: 23px;
    line-height: 17px;
    color: #dad8d2;
    letter-spacing: -0.5px;
    text-indent: -10px;
    font-size: 0.72rem;
}
.recommend .banner .img_wrap .info li:before {
    content: "-";
    padding-right: 5px;
}

.recommend .banner .img_wrap .info li:first-child {
    padding-bottom: 15px;
    font-size: 1.3rem;
    font-weight: 600;
}
.recommend .banner .img_wrap .info li:first-child:before{
    content: none;
}

/* recommend- 배너 로테이팅 아이콘 */
.recommend .banner .indi {
    position: absolute;
    top: 43%;
    right: -32px;
}

.recommend .banner .indi .icon li {
    margin-bottom: 10px;
}

.recommend .banner .indi .icon li:last-child {
    margin-bottom: 0px;
}

.recommend .bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 1210px;
    height: 467px;
    margin: 0 auto;
    padding-left: 50px;
    background: url(../img/recommend_bg_02.png) no-repeat;
    background-position: right bottom;
}

.recommend .bottom .title,
.recommend .bottom .sub_title,
.recommend .bottom .btn_consulting {
    font-family: 'Noto Sans KR', sans-serif;
}

.recommend .bottom .title {
    color: #343434;
    font-size: 36px;
    letter-spacing: -1px;
}

.recommend .bottom .sub_title {
    padding: 10px 0 32px;
    font-size: 15px;
    color: #333333;
    letter-spacing: -0.3px;
}

.recommend .bottom .btn_consulting {
    width: 164px;
    height: 28px;
    background-color: #EA5021;
    font-size: 13px;
    letter-spacing: -0.3px;
    color: #ffffff;
}

.recommend .bottom .btn_consulting span {
    padding-left: 35px;
}

/* why_steel */
.values {
    display: flex;
    border-bottom: 3px solid #5c5c5c;
}

.values .card {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 624px;
    text-align: left;
}

.values .card:hover {
    align-items: flex-end;
}

.values .card:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 0.4;
    background-color: #ffffff;
    transition: 1s;
}

.values .card:hover:before {
    opacity: 0;
}

.values .card_01 {
    background: url(../img/why_steel_h01.png) no-repeat;
}

.values .card_02 {
    background: url(../img/why_steel_h02.png) no-repeat;
}

.values .card_03 {
    background: url(../img/why_steel_h03.png) no-repeat;
}

.values .card_04 {
    background: url(../img/why_steel_h04.png) no-repeat;
}

.values .card .txt_wrap {
    position: relative;
}

.values .card:hover .txt_wrap {
    display: none;
}

.values .card .txt_wrap .title,
.values .card .txt_wrap .number{
    font-family: 'Lato', sans-serif;
}

.values .card .txt_wrap .title {
    font-size: 24px;
}

.values .card .txt_wrap .number {
    font-size: 48px;
}

.values .hover_wrap {
    display: none;
    width: 100%;
    transition: 1s;
}

.values .card:hover .hover_wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
}

.values .hover_wrap .number {
    margin-bottom: 140px;
    font-size: 60px;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
}

.values .hover_wrap div {
    padding-top: 76px;
    width: 100%;
    height: 264px;
    background-color: rgba(250, 187, 112, 0.9);
    text-align: center;
}

.values .hover_wrap .title {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -1px;
    color: #ffffff;
}

.values .hover_wrap .sub_title {
    font-size: 14px;
    font-weight: 600;
    padding: 19px 0 29px;
    letter-spacing: -0.7px;
}

.values .hover_wrap .txt {
    padding: 0 20px;
    line-height: 18px;
    text-align: left;
    letter-spacing: -0.5px;
    color: #666666;
}

/* footer */
#footer .footer_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 54px;
    padding-top: 5px;
}

#footer .main_link a {
    font-size: 10px;
    font-weight: 600;
    color: #333333;
}

#footer .main_link a:first-child:after {
    content: " ";
    padding-right: 19px;
    border-right: 1px solid #d9d9d9;
}

#footer .main_link a:last-child {
    padding-left: 19px;
}

#footer .serch_naver {
    position: relative;
}

#footer .serch_naver .serch_text {
    position: absolute;
    top: 7px;
    left: 103px;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: -0.5px;
    color: #666666;
}

/* footer - bottom */
#footer .footer_bottom {
    border-top: 1px solid #e6e6e6;
    background-color: #f5f5f5;
    padding-bottom: 68px;
}

#footer .footer_detail {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 162px;
    color: #3e3a38;
}

#footer .footer_detail .title {
    font-weight: 600;
    letter-spacing: 0.2px;
    font-family: 'Lato', sans-serif;
}

#footer .footer_detail .customer_center {
    width: 32%;
}

#footer .footer_detail .customer_center a {
    display: inline-block;
    margin: 23px 0 24px;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Noto Sans KR', sans-serif;
    color: #3e3a38;
}

#footer .footer_detail .customer_center img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    vertical-align: bottom;
}

#footer .footer_detail .customer_center p {
    font-size: 0.65rem;
    font-weight: 300;
    line-height: 14px;
    letter-spacing: 0.5px;
    font-family: 'Lato', sans-serif;
    color: #999999;
}

#footer .company_info {
    width: 58%;
}

#footer .company_info dl dt, dd {
    display: inline-block;
    font-size: 0.65rem;
}

#footer .company_info dl {
    margin-top: 23px;
    font-family: inherit;
    line-height: 16px;
}

#footer .company_info dl dt {
    margin-right: 7px;
    color: #999999;
}

#footer .company_info dl dd {
    margin-right: 10px;
    font-weight: 600;
}

#footer .copyright {
    text-align: right;
    width: 30%;
    font-size: 0.6rem;
    font-family: 'Lato', sans-serif;
}

#footer .copyright a {
    display: inline-block;
    margin-top: 6px;
}

/* 사이드 nav */
#aside {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 70px;
    height: 100%;
    top: 0;
    right: 0;
    padding-top: 27px;
    background-color: #545454;
    text-align: center;
    z-index: 9999;
}

#aside .logo_call li:last-child {
    margin: 15px 0 35px;
}

#aside .quick_btn li {
    padding: 16px 0px;
    border-bottom: 1px solid #434343;
    box-shadow: 0px 1px #767676;
}

#aside .sns {
    margin-top: 211px;
}

#aside .sns li {
    margin-bottom: 11px;
}

#aside .sns li a {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #656566;
    border-radius: 50%;
    padding-top: 16px;
}

/* 모바일 햄버거 버튼 nav */
#mo_gnb {
    display: none;
    position: fixed;
    top: 91px;
    right: 0;
    bottom: 0;
    /*width: 320px;*/
    width: 100%;
    height: auto;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: rgb(56,79,97);
}

#mo_gnb .mo_gnb_wrap > ul {
    padding: 20px 0px;
    border-bottom: 1px solid #e6e6e6;
}

#mo_gnb .mo_gnb_wrap > ul:last-child {
    border: none;
}

#mo_gnb .btn_close {
    position: absolute;
    top: 20px;
    right: 10px;
    font-size: 50px;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0);
}


.mo_gnb_wrap .quick_btn {
    display: flex;
    justify-content: space-around;
}

.mo_gnb_wrap .mo_gnb_1depth {
    padding: 0!important;
}

.mo_gnb_wrap .mo_gnb_1depth>li {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 25px;
    border-bottom: 1px dashed #e6e6e6;
}

.mo_gnb_wrap .mo_gnb_1depth>li:last-child {
    border-bottom: none;
}

.mo_gnb_wrap .mo_gnb_1depth>li>a {
    display: block;
    font-size: 16px;
    color: #f08211;
    cursor: pointer;
}

.mo_gnb_wrap .mo_gnb_2depth {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.mo_gnb_wrap .mo_gnb_2depth li {
    width: 50%;
    margin-top: 15px;
}

.mo_gnb_wrap .mo_gnb_2depth>li>a {
    display: block;
    /*padding: 10px 0px 10px 45px;*/
    font-size: 14px;
    color: #dddddd;
    cursor: pointer;
}

.mo_gnb_wrap .sns {
    display: flex;
    justify-content: space-around;
}

.mo_gnb_wrap .sns a {
    display: inline-block;
    width: 45px;
    height: 45px;
    background-color: #656566;
    border-radius: 50%;
    padding-top: 12px;
    padding-left: 12px;
}
.mo_gnb_wrap .sns a:last-child{
    padding-top: 14px;
}

/* tablet layout */
@media only screen and (max-width: 1000px) {
    .mo_show {
        display: block;
    }
    .pc_show {
        display: none!important;
    }
    #header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgba(56,79,97,0.9);
    }
    #header .logo {
        position: absolute;
        left: 5%
    }
    #header .logo a {
        width: 110px;
    }
    #header .btn_toogle {
        display: block;
    }
    /* visual */
    #visual {
        margin-top: -10px;
    }
    #visual .img_wrap img {
        width: 100%;
    }
    #visual .img_wrap ul li img:first-child{
        display: none;
    }
    #visual .img_wrap ul li img:last-child{
        display: block;
    }
    #visual button {
        width: 46px;
        height: 74px;
        top: 62%;
    }
    #visual .btn_prev {
        left: 5%;
        background: url(../img/m_slide_left.svg) no-repeat;
    }
    #visual .btn_next {
        right: 5%;
        background: url(../img/m_slide_right.svg) no-repeat;
    }
    /* cs_center */
    #container .cs_center{
        text-align: center;
    }
    #container .cs_center .line {
        display: none;
    }
    /* gallery */
    #container .gallery_wrap > .sub_title{
        margin-bottom: unset;
    }
    .gallery_wrap ul {
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .gallery_wrap ul .gallery_card{
        width: 45%;
        margin-top: 40px;
    }
    .gallery_wrap .info .title {
        padding: 30px 0;
    }
    .gallery_wrap ul .gallery_card:hover span {
        top: 35%;
        left: 35%;
        font-size: 18px;
    }
    /* story */
    .story_wrap ul {
        justify-content: center;
        flex-wrap: wrap;
        margin: unset;
    }
    .story_wrap ul li {
        width: 75%;
        max-width: 600px;
        min-width: 490px;
        margin-top: 20px;
    }
    /* recommend-공지사항 */
    .recommend .top {
        display: block;
    }
    .recommend .top .notice_wrap {
        display: flex;
        flex-wrap: wrap;
        max-height: 290px;
        justify-content: center;
    }
    .recommend .top .notice_wrap h2 {
        position: static;
        width: 100%;
        padding: 20px 0px;
    }
    .recommend .top .notice_wrap h2 img {
        width: 200px;
    }
    .recommend .top .notice_wrap .notice {
        position: static;
        padding-top: 0;
        width: 100%;
    }
    .recommend .banner{
        position: relative;
        bottom: 0;
        left: 0;
        margin-top: 50px;
    }
    .recommend .banner div {
        text-align: center;
    }
    .recommend .banner .img_wrap {
        justify-content: center;
    }
    .recommend .banner .img_wrap>li {
        width: 80%;
        margin-top: 10px;
    }
    .recommend .banner .img_wrap>li:nth-child(2),
    .recommend .banner .img_wrap>li:nth-child(3) {
        width: 40%;
    }
    .recommend .banner .img_wrap .info {
        top: 11%;
        left: 4%;
    }
    .recommend .banner .indi {
        top: auto;
        left: 50%;
        right: auto;
        margin-top: 20px;
        margin-left: -65px;
    }
    .recommend .banner .indi .icon{
        display: flex;
        justify-content: space-between;
        width: 130px;
    }
    .recommend .banner .indi .icon li {
        margin-bottom: unset;
    }
    .recommend .bottom {
        background-size: 300px;
        align-items: center;
        padding-left: unset;
    }
    /* why_steel */
    .values {
        flex-wrap: wrap;
        justify-content: center;
    }
    .values .card {
        width: 49%;
        margin-top: 5px;
        margin-right: 5px;
    }
    .values .card:nth-of-type(even) {
        margin-right: 0;
    }
    /* footer */
    #footer .footer_top {
        height: 50px;
        padding: 5px 10px;
    }
    #footer .footer_bottom {
        padding-bottom: 0;
    }
    #footer .footer_detail {
        justify-content: space-around;
        flex-wrap: wrap;
        height: auto;
        padding: 20px 10px;
    }
    #footer .customer_center, .company_info {
        width: auto!important;
    }
    #footer .copyright {
        width: 100%;
        margin-top: 25px;
    }
}
@media only screen and (max-width: 720px) {
    #visual .btn_prev {
        left: 1%;
    }
    #visual .btn_next {
        right: 1%;
    }
    /* cs_center */
    #container .cs_center .time {
        display: block;
        margin-top: 20px;
    }
    /* story */
    .story_wrap ul li {
        width: 95%;
        min-width: auto;
        margin-top: 5px;
    }
    .story_wrap .story_card .info .text {
        display: none;
    }
    .story_wrap .story_card .info .sub_text {
        position: static;
        left: unset;
        bottom: unset;
        margin-bottom: 10px;
    }
    /* recommend */
    .recommend .top .notice {
        max-width: 320px;
    }
    .recommend .top .notice ul li span {
        width: 250px;
    }
    .recommend .top .notice ul li span:last-child {
        padding-left: 10px;
    }
    .recommend .banner .img_wrap>li {
        width: 95%!important;
        margin-top: unset;
    }
    .recommend .bottom {
        justify-content: flex-start;
        padding-top: 120px;
    }
    .recommend .bottom .title {
        font-size: 25px;
    }
    .recommend .bottom .sub_title {
        font-size: 13px;
    }
    /* why_steel */
    .values .card {
        width: 95%;
        height: 160px;
        margin-right: unset;
        background-position: center;
        background-size: 100%;
    }
    .values .card .txt_wrap {
        text-align: right;
    }
    .values .hover_wrap,
    .values .hover_wrap div {
        height: 100%;
    }
    .values .hover_wrap div {
        padding-top: 55px;
    }
    .values .hover_wrap .number,
    .values .hover_wrap .txt {
        display: none;
    }
    /* footer */
    #footer .footer_top {
        height: auto;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 15px;
    }
    #footer .serch_naver {
        margin-top: 10px;
    }
    #footer .serch_naver img {
        width: 100%;
    }
    #footer .serch_naver .serch_text {
        left: 110px;
    }
    #footer .footer_detail {
        padding: 15px;
        justify-content: space-between;
    }
}
/* mobile layout */
@media only screen and (max-width: 360px) {
    /* footer */
    #footer .serch_naver .serch_text {
        left: 90px;
    }
}

/* 별도 반응형 지정 */
@media only screen and (max-width: 1120px) {
    #gnb .gnb_1depth {
        margin-right: 60px;
    }
}

@media screen and (min-width: 1001px) {
    #header #mo_gnb {
        display: none!important;
    }
}
@media only screen and (max-width: 500px) {
    /* gallery */
    .gallery_wrap ul .gallery_card {
        width: 95%!important;
        margin-top: 20px!important;
    }
    .gallery_wrap ul .gallery_card:nth-child(3),
    .gallery_wrap ul .gallery_card:last-child {
        display: none;
    }
    .gallery_wrap .info .title {
        padding: 15px 0!important;
    }
}
@media only screen and (max-width: 720px) and (min-width: 450px){
    /* recommend */
    .recommend .banner .img_wrap .info {
        top: 15%;
        left: 10%;
    }
    .recommend .banner .img_wrap .info li {
        line-height: 25px;
        font-size: 0.85rem;
    }
}

@media only screen and (max-width: 730px) and (min-width: 501px) {
    /*gallery */
    .gallery_wrap ul .gallery_card:hover span {
        top: 30%;
        left: 30%;
    }
}