@charset "UTF-8";
/*
	1. Author : Lim_HA(2021.02)
	2. Comment : sub.css
	3. Modify :
*/
/* 공통 */
.sub_header {
    background: rgba(0,0,0,.7);
    opacity: .95;
}
.greeting_header {
   background: rgba(0,0,0,0.1);
}
#sub_container {
    margin-top: -90px;
}
.sub_container section {
    padding-top: 180px;
    padding-bottom: 100px;
    text-align: center;
    background-size: cover;
}
.sub_container .pt85 {
    padding-top: 85px!important;
    margin-top: 90px;
}
.sub_container section .title {
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 36px;
}
.sub_container section .sub_title {
    margin-bottom: 30px;
    font-size: 16px;
    color: #cccccc;
    line-height: 22px;
}
.sub_container .title_black .title, .sub_container .title_black .sub_title {
    color: #333333;
}

/* greeting */
.greeting {
    min-height: 940px;
    background: url("../img/sub/01_greeting/bg.png") no-repeat;
}
.greeting .grt_icon {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    max-width: 554px;
}
/* greeting-icon */
.greeting .grt_icon li {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 105px;
    height: 120px;
    margin-bottom: 65px;
    background: url("../img/sub/01_greeting/icon_bg.png") no-repeat;
}
.greeting .grt_icon li span {
    display: block;
    position: absolute;
    width: 100%;
    bottom: -25px;
    color: #cccccc;
    font-size: 14px;
    text-align: center;
}
.greeting .info dt {
    margin-bottom: 15px;
    font-size: 18px;
    color: #ffffff;
}
.greeting .info dd {
    margin-bottom: 30px;
    line-height: 20px;
    font-size: 14px;
    color: #cccccc;
}
.greeting .info dd:last-child {
    color: #ffcf22;
}
/* history */
.history {
    min-height: 690px;
    background: url("../img/sub/02_history/bg.png") no-repeat 70% 0;
}
.history .history_box {
    margin: 0 auto;
    width: 600px;
}
.history .history_box .tab {
    display: flex;
}
.history_box .tab a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #999999;
    width: 33.3%;
    height: 50px;
    font-size: 16px;
    background-color: #f4f4f4;
}
.history_box .tab a:first-child{
    background-color: #ffffff;
}
.history_box .tab a:nth-child(-n+2) {
    border-right: none;
}
.history_box .list {
    position: relative;
    margin-left: 25px;
    margin-top: 55px;
    text-align: left;
}
.history_box .list:before {
    content: " ";
    display: inline-block;
    position: absolute;
    top: 8px;
    left: -17px;
    width: 1px;
    height: 100%;
    border-left: 1px solid #d4d4d4;
}
.history_box .list>ul>li {
    display: flex;
    margin-bottom: 20px;
}
.history_box .list .year {
    position: relative;
    margin-right: 30px;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    color: #6c822b;
}
.history_box .list .year:before {
    content: " ";
    position: absolute;
    top: 2px;
    margin-left: -25px;
    width: 16px;
    height: 16px;
    background-image: url("../img/sub/02_history/circle_icon.jpg");
}
.history_box .list .dest {
    margin-top: 5px;
}
.history_box .list .dest li {
    position: relative;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.35px;
    color: #666666;
}
.history_box .list .dest li:before {
    content: " ";
    position: absolute;
    top: 8px;
    margin-left: -12px;
    width: 4px;
    height: 4px;
    background-image: url("../img/sub/02_history/dot_icon.png");
}
/* people */
.people .img_title {
    display: flex;
    margin-bottom: 70px;
}
.people .img_title li {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 25%;
    height: 260px;
}
.people .img_title li:first-child {
    background-color: #ff8c17;
}
.people .img_title li:nth-child(3) {
    background-color: #E94311;
}
.people .img_title li p:first-child {
    margin-top: 100px;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 400;
}
.people .img_title li p {
    color: #ffffff;
    font-size: 14px;
    line-height: 18px;
}
.people .img_title li img {
    width: 100%;
    height: 100%;
}
/* peopel_box */
.people_box {
    display: flex;
    justify-content: space-between;
}
.people_box .list {
    width: 50%;
    text-align: left;
}
.people_box .list .item {
    display: flex;
    margin-bottom: 30px;
}
.people_box .list .item ul {
    margin-left: 15px;
    margin-right: 10px;
}
.people_box .list .item ul li {
    font-size: 12px;
    color: #666666;
    line-height: 18px;
    letter-spacing: -0.5px;
    font-weight: bold;
}
.people_box .list .item .task {
    margin-bottom: 5px;
    color: #ff8b1d;
}
.people_box .list .item .name {
    font-size: 20px;
    color: #000000;
}
.people_box .list .item .text {
    margin-top: 15px;
}
/* list_02 */
.people_box .list_02 .item .task {
    margin-right: 10px;
    color: #e84518;
}
/* work */
.work {
    position: relative;
}
.work:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 265px;
    background: url("../img/sub/04_work/top_bg.png") no-repeat;
    z-index: -10;
}
.work .work_icon {
    display: flex;
    justify-content: space-between;
    width: 580px;
    margin: 45px auto;
}
.work .work_icon li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 170px;
    background-color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 100px;
    box-shadow: 3px 3px 2px #f3f3f3;
}
.work .work_icon li span {
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    color: #666666;
}
.work .work_box .item {
    display: flex;
}
.work .work_box .item_01 {
    justify-content: flex-start;
}
.work .work_box .item_02 {
    justify-content: flex-end;
}
.work .work_box .item_01 ul {
    margin-left: 105px;
}
.work .work_box .item_02 ul {
    margin-right: 50px;
}
.work .work_box .item ul {
    position: relative;
    margin-top: 110px;
    text-align: left;
}
.work .work_box .item ul:before{
    content: " ";
    position: absolute;
    top: -13px;
    left: 0;
    width: 100px;
    height: 5px;
    background: url("../img/sub/04_work/title_deco.png") no-repeat;
}
.work .work_box .item ul li {
    position: relative;
    padding-left: 30px;
    font-size: 20px;
    color: #666666;
    letter-spacing: -0.5px;
    line-height: 45px;
}
.work .work_box .item ul li:before{
    content: " ";
    position: absolute;
    top: 15px;
    left: 0;
    width: 14px;
    height: 14px;
    background: url("../img/sub/04_work/logo_icon.png") no-repeat;
}.work .work_box .item .task {
    padding-left: 0px;
    font-size: 35px;
}
.work .work_box .item .task:before{
    content: none;
}
.work .work_box .item .sub_task {
    padding-left: 0px;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    color: #999999;
}
.work .work_box .item .sub_task:before{
    content: none;
}
/* steel */
.steel {
    background: url("../img/sub/05_steel/bg.png") no-repeat;
}
.steel .steel_box {
    display: flex;
    justify-content: space-between;
    margin-top: 500px;
}
.steel .steel_box .item{
    width: 33%;
    padding: 30px 0px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
}
.steel .steel_box .item span {
    display: block;
    height: 200px;
    margin-bottom: 60px;
}
.steel .steel_box .item img {
    width: 100%;
}
.steel .steel_box .item_02 img {
    width: 85%;
}
.steel .steel_box .item_03 img {
    width: 90%;
}
.steel .steel_box .item ul {
    padding: 0 8px;
}
.steel .steel_box .item ul li{
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.5px;
    color: #999999;
}
.steel .steel_box .item ul .name {
    font-size: 30px;
    font-weight: bold;
    color: #826847;
    margin-bottom: 25px;
}
/* partner */
.partner {
    position: relative;
    /*background-color: #ffffff;*/
}
.partner:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    background: url("../img/sub/06_partner/bg.png") no-repeat;
    z-index: -10;
}
.partner .partner_box {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    /*min-height: 800px;*/
}
.partner .partner_box .sub_bg {
    width: 50%;
}
.partner .partner_box .sub_bg img {
    width: 110%;
    height: 100%;
}
.partner .partner_box .item_wrap {
    width: 45%;
    margin-top: 70px;
    margin-right: 40px;
    margin-bottom: 30px;
}
.partner .partner_box .item_wrap .item {
    text-align: left;
    margin-bottom: 30px;
}
.partner .partner_box .item_wrap .item li {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.5px;
    color: #666666;
}
.partner .partner_box .item_wrap .item .name {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;

}
.partner .partner_box .item_wrap .item .name>span {
    color: #ff7a39;
}
.partner .partner_box .item_wrap .item .logo_img {
    display: block;
    margin-top: 15px;
    text-align: right;
}