@charset "UTF-8";

/*
	1. Author : Lim_HA(2021.02)
	2. Comment : font
	3. Modify :
*/

/* woff 2.0 > woff > ttf/otf */
/* font :: Nanum Square */
@font-face {
  font-family: 'Nanum Square';
  font-weight: normal;
  font-style: normal;
  src: local("NanumSquarR");

  /* 폰트식별 이름 */
  src: url('../fonts/NanumSquare/NanumSquareR.eot') format("embedded-opentype"), url('../fonts/NanumSquare/NanumSquareR.eot?#iefix') format("embedded-opentype"), url('../fonts/NanumSquare/NanumSquareR.woff2') format("woff2"), url('../fonts/NanumSquare/NanumSquareR.woff') format("woff"), url('../fonts/NanumSquare/NanumSquareR.ttf') format("truetype"), url('../fonts/NanumSquare/NanumSquareR.svg#NanumSquareR') format("svg"), url('../fonts/NanumSquare/NanumSquareR.otf') format("opentype");

  /* 주요 플랫폼에서 일반적 사용 */
}

/* font :: Noto-Sans-kr-regular */
@font-face {
  font-family: 'Noto Sans KR';
  font-weight: normal;
  font-style: normal;
  src: local("NotoSansKR-Regular");
  src: url('../fonts/NotoSansKr/NotoSansKR-Regular.eot') format("embedded-opentype"), url('../fonts/NotoSansKr/NotoSansKR-Regular.eot?#iefix') format("embedded-opentype"), url('../fonts/NotoSansKr/NotoSansKR-Regular.woff2') format("woff2"), url('../fonts/NotoSansKr/NotoSansKR-Regular.woff') format("woff"), url('../fonts/NotoSansKr/NotoSansKR-Regular.ttf') format("truetype"), url('../fonts/NotoSansKr/NotoSansKR-Regular.svg#NotoSansKR') format("svg"), url('../fonts/NotoSansKr/NotoSansKR-Regular.otf') format("opentype");
}

/* font :: Lato-regular */
@font-face {
  font-family: 'Lato';
  font-weight: normal;
  font-style: normal;
  src: local("Lato-Reqular");
  src: url('../fonts/Lato/Lato-Regular.eot') format("embedded-opentype"), url('../fonts/Lato/Lato-Regular.eot?#iefix') format("embedded-opentype"), url('../fonts/Lato/Lato-Regular.woff2') format("woff2"), url('../fonts/Lato/Lato-Regular.woff') format("woff"), url('../fonts/Lato/Lato-Regular.ttf') format("truetype"), url('../fonts/Lato/Lato-Regular.svg#Lato-Regular') format("svg"), url('../fonts/Lato/Lato-Regular.otf') format("opentype");
}


/* 폰트 기본설정 */

div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, table, th, td, form, fieldset, legend, textarea, input, select, textarea, button, figure, figcaption {
  margin: 0;
  padding: 0;
  font-family: 'Nanum Square','Nanum Gothic','맑은 고딕','MalgunGothic','Dotum','돋움','AppleSDGothic',sans-serif;
  font-size: 12px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

/* 폰트 스타일 초기화 */

em, address {
  font-style: normal;
}
