@charset "UTF-8";
/*
	1. Author : Lim_HA(2021.04)
	2. Comment : variables
	3. Modify :
*/
//font
$default_font: 'Nanum Square', sans-serif;
$second_font: 'Lato', sans-serif;
$third_font: 'Noto Sans KR', sans-serif;
$fourth_font: 'Dotum','돋움';

//color
$white: #fff;
$black: #000;
$light_gray: #999;
$white_gray : #cccccc;
$transparent: rgba(255, 255, 255, 0);